@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    outline: 1px solid rgba(255, 0, 0, 0.5);
}
/* GLOBAL VARIABLES */
:root {
    /* COLOR VARIABLES */
    --color-grey-dark: #1f2937;
    --color-grey-light: #e5e7eb;
    --color-white: #f9faf8;
    --color-blue: #3882f6;
    /* FONT VARIABLES */
    --weight-light: 300;
    --weight-regular: 400;
    --weight-heavy: 900;
}

h1 {
    font-size: 3rem;
    font-weight: var(--weight-heavy);
}
h2 {
    font-size: 2.23rem;
}
h3 {
    font-size: 1.5rem;
}
.centered-wide {
    max-width: 1050px;
    margin: 0 auto;
}
.centered-narrow {
    max-width: 900px;
    margin: 0 auto;
}
li {
    list-style: none;
}
a {
    display: block;
    padding: 0.5rem 2rem;
    background: var(--color-blue);
    color: var(--color-white);
    text-decoration: none;
    border-radius: 0.5rem;
    font-weight: var(--weight-heavy);
}

/* HEADER */
.header {
    background: var(--color-grey-dark);
    padding-top: 1rem;
}
.header .centered-wide {
    color: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    text-transform: capitalize;
}
.header-nav {
    display: flex;
    gap: 2rem;
    font-size: 1.125rem;
}
/* HERO SECTION */
.hero {
    padding: 8rem 0;
    background: var(--color-grey-dark);
    color: var(--color-white);
}
.hero .centered-wide {
    display: flex;
    padding: 0;
}
.hero-left {
    padding-right: 4.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: var(--weight-light);
    font-size: 1.125rem;
    gap: 1rem;
}
.hero-right {
    flex: 0 0 50%;
    background: #888;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
}
/* INFORMATION/CARDS SECTION */

/* QUOTE SECTION */

/* SIGN UP SECTION */

/* FOOTER */
